<ion-view cache-view="false" class="background1">
  <ion-header-bar class="bar bar-header bar-calm" align-title="center">
      <h1 class="title ">{{marker[0].name}}</h1>
  </ion-header-bar>
  <ion-content class="padding">

    <div class="cover">
    <img src="img/ionic.png" style="display:block;margin: 0 auto;">
  </div>
  <div class="content padding">
    <button fab fab-right fab-top danger ng-click="takeMe();">
      <ion-icon name="md-navigate"></ion-icon>
    </button>
    <div padding>
      <h2>{{marker[0].name}}</h2>
      <p class="subtitle">{{marker[0].address}}</p>
    </div>
    <hr>

    <hr>
    <h3 padding>Informasi</h3>
    <ion-list>
      <ion-item *ngIf="!!marker[0].telp">
        <h4>No Telepon</h4>
        <p>{{marker[0].telp}}</p>
        <button  button-light lighter item-right >
        <ion-icon name="md-call">    Call</ion-icon>
        </button>
      </ion-item>
      <ion-item *ngIf="!!marker[0].schedule_day">
        <h4>Hari Buka</h4>
        <p>{{marker[0].schedule_day}}</p>
      </ion-item>
      <ion-item *ngIf="!!marker[0].schedule_time">
        <h4>Jam Buka</h4>
        <p>{{marker[0].schedule_time}}</p>
      </ion-item>
      <ion-item *ngIf="!!marker[0].range_price">
        <h4>Biaya Pemeriksaan</h4>
        <p>{{marker[0].range_price}}</p>
      </ion-item>
    </ion-list>
  </div>
  </ion-content>
</ion-view>
